[Unit]
Description=vaso-pd
Requires=vaso-sensores.service local-fs.target
After=local-fs.target network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/tocha-vaso/
ExecStart=/bin/bash /home/pi/tocha-vaso/vaso_pd_start.sh
Restart=always

[Install]
WantedBy=multi-user.target