[Unit]
Description=vaso-sensores

[Service]
User=pi
WorkingDirectory=/home/pi/tocha-vaso/
ExecStart=/bin/bash /home/pi/tocha-vaso/vaso_sensores_start.sh
Restart=always

[Install]
WantedBy=multi-user.target